/* Contenedor principal con margen ajustable para las tarjetas */
.about-flip-card-container {
  margin-top: 100px; /* Ajusta este valor para mover las tarjetas más abajo */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  width: 100%;
  box-sizing: border-box; /* Incluye el borde en el tamaño total del contenedor */
  position: relative; /* Necesario para posicionar elementos absolutamente dentro del contenedor */
}

/* Estilo de las tarjetas */
.about-flip-card {
  width: 100%;
  max-width: 300px; /* Ancho máximo para las tarjetas */
  height: 500px;
  border-radius: 15px; /* Esquinas redondeadas */
  perspective: 1000px; /* Efecto 3D */
  opacity: 0;
  transform: translateY(10px) scale(0.1);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.about-flip-card-back h1 {
  width: 100%; /* Asegura que el h1 ocupe todo el ancho disponible */
  text-align: center; /* Centra el título horizontalmente */
  margin-bottom: 20px; /* Espacio debajo del h1 */
  color: black; /* Cambia el color del texto a negro */
}

.about-flip-card-back p, .about-flip-card-back li {
  width: 100%; /* Asegura que el párrafo y la lista ocupen todo el ancho disponible */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 5px 20px; /* Añade un margen lateral para que no esté pegado al borde */
  color: black; /* Cambia el color del texto a negro */
}

.about-flip-card .card-icon {
  font-size: 5em; /* Ajusta el tamaño del texto o icono */
  color: white; /* Colorea texto e icono de blanco */
}

.about-flip-card.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Contenedor para las caras frontal y posterior con transiciones suaves */
.about-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s ease;
  border-radius: 15px; /* Esquinas redondeadas */
  transform-style: preserve-3d;
}

/* Efecto de flip al pasar el mouse */
.about-flip-card:hover .about-flip-card-inner {
  transform: rotateY(180deg);
}

.about-flip-card-front, .about-flip-card-back {
  position: absolute;
  width: 100%;
  border: 5px solid #000000; /* Añadir borde */
  height: 100%;
  border-radius: 15px; /* Esquinas redondeadas */
  background: rgba(255, 255, 255, 1); /* Fondo sólido */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra interior para efecto de profundidad */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita que el contenido se desborde */
}

/* Imágenes que cubren toda la tarjeta */
.about-flip-card-front img, .about-flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
  border-radius: 15px; /* Coincide con las esquinas redondeadas de la tarjeta */
  position: absolute; /* Asegura que la imagen cubra todo el contenedor */
  top: 0;
  left: 0;
}

.about-flip-card-1 .about-flip-card-front {
  background: linear-gradient(135deg, #b2e5b1, #a3d9a5); /* Degradado verde pastel para "About Me" */  
}

.about-flip-card-2 .about-flip-card-front {
  background: linear-gradient(135deg, #b3c5ff, #a0b1ff);
}

.about-flip-card-3 .about-flip-card-front {
  background: linear-gradient(135deg, #f9c0c0, #f5a3a3); 
}

.about-flip-card-4 .about-flip-card-front {
  background: linear-gradient(135deg, #f0e4b8, #e4d7b6); 
}

.about-flip-card-back {
  display: flex;
  flex-direction: column; /* Alinea el contenido en una columna */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  transform: rotateY(180deg);
  padding: 10%;
  padding-left: 3%;
  color: black; /* Cambia el color del texto a negro */
  text-align: left;
}

/* Iconos de tecnologías con diseño responsive */
.technologies-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr)); /* Ajusta el tamaño mínimo */
  gap: 15px; /* Reduce el espacio entre los íconos */
  width: 100%;
  justify-items: center;
}

.tech-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech-icon i {
  font-size: 2em; /* Ajusta el tamaño de los iconos */
  color: black; /* Cambia el color de los iconos */
  transition: 0.5s ease;
}

.tech-icon:hover i {
  color: red;
  font-size: 2.5em;
}

.tech-icon p {
  margin-top: 2px; /* Reduce el espacio entre el icono y el texto */
  color: black; /* Cambia el color del texto debajo del icono */
  text-align: center;
  width: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra debajo del subrayado */
}

.about-flip-card-back ul {
  list-style-type: disc;
  padding-left: 0px;
  margin: 0;
}

.about-flip-card-back li {
  margin-bottom: 4px;
}

/* Estilo del botón */
.about-btg {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.about-btg:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Media queries para diferentes tamaños de pantalla */

/* Para tablets en orientación vertical y teléfonos en orientación horizontal */
@media (max-width: 768px) {
  .about-flip-card {
    max-width: 250px; /* Reduce el ancho máximo de las tarjetas */
    height: 450px; /* Reduce la altura de las tarjetas */
  }

  .about-flip-card-container {
    gap: 15px; /* Reduce el espacio entre las tarjetas */
    margin-top: 80px; /* Reduce el margen superior */
  }

  .technologies-icons {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
    gap: 10px; /* Reduce el espacio entre los íconos */
  }

  .tech-icon i {
    font-size: 1.8em; /* Reduce el tamaño de los íconos */
  }
  .tech-icon:hover i {
    color: red;
    font-size: 1.5em;
  }
  
  
}

/* Para teléfonos móviles */
@media (max-width: 575px) {
  .about-flip-card {
    max-width: 200px; /* Reduce aún más el ancho máximo de las tarjetas */
    height: 350px; /* Reduce la altura de las tarjetas */
    display: flex;
  }

  .about-flip-card-container {
    gap: 10px; /* Reduce el espacio entre las tarjetas */
    margin-top: 60px; /* Reduce el margen superior */
    justify-content: center; /* Centra las tarjetas en la pantalla */
  }

  .technologies-icons {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
    gap: 5px; /* Reduce el espacio entre los íconos */
  }

  .tech-icon i {
    font-size: 0.8em; /* Reduce aún más el tamaño de los íconos */
  }
  .about-flip-card-back p{
    width: 100%; /* Asegura que el párrafo y la lista ocupen todo el ancho disponible */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 5px 0px; /* Añade un margen lateral para que no esté pegado al borde */
    font-size: 0.6em;
  }
  .about-flip-card-back li{
    width: 100%; /* Asegura que el párrafo y la lista ocupen todo el ancho disponible */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 0.65em;
  margin-bottom: 4px;
  margin: 5px 15px; /* Añade un margen lateral para que no esté pegado al borde */
  }
}
