.features-container {
  height: 90vh; /* Ocupa el 90% del alto de la ventana de visualización */
  width: auto;
  overflow: hidden; /* Asegura que el contenido no se desborde */
  border: 5px solid #f8f9fa; /* Borde gris claro */
  border-radius: 3%; /* Bordes redondeados para el contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #947272;
}

.feature-card {
  margin: 50px; /* Espaciado entre las tarjetas */
  flex: 1;
  max-width: 300px; /* Ajusta este valor para el ancho deseado */
  background-color: #f8f9fa; /* Fondo gris claro */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave */
}

.feature-card:hover {
  transform: scale(1.05); /* Escala la tarjeta ligeramente */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra */
}

.feature-card img {
  height: 150px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Cubre todo el área de la tarjeta sin distorsionar */
  width: 100%; /* Mantiene la proporción de la imagen */
  border-top-left-radius: 15px; /* Bordes redondeados en la parte superior de la imagen */
  border-top-right-radius: 15px; /* Bordes redondeados en la parte superior de la imagen */
}
